<!doctype html>
<html ng-app="app">

    <head>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="/style/app.css"/>
        <link rel="stylesheet" type="text/css" href="node_modules/angular-ui-grid/ui-grid.css">
        <link rel="stylesheet" href="/font-awesome-4.3.0/css/font-awesome.css">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
        <title>JoeLabS</title>
    </head>

    <body ng-cloak>
        <div ng-if="loading" class="loader"><img src="/images/spinner.gif"></div>
        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="#"><span><img height="32" src="/images/labblogo.png"></span>&nbsp;&nbsp;
                <strong>JoeLabS</strong></a>
        </nav>
        <div class="container">
            <h1>UI-Grid Table</h1>

            <div ng-controller="MainCtrl">
                <div class="margin-top margin-bottom">
                    <button id="save"
                            class="button btn btn-sm"
                            ng-click="save(grid)"
                            ng-disabled="!isDirty()"
                            ng-class="{'btn-success':isDirty(),'btn-default':!isDirty()}"
                            title="Save changes">
                        <i class="fa fa-floppy-o"></i>
                    </button>
                    <button id="toggleInfo"
                            class="button btn btn-sm"
                            ng-click="toggleUserInfoColumns()"
                            ng-class="{'btn-info':userInfoColumnsVisible,'btn-default':!userInfoColumnsVisible}"
                            title="Toggle user info columns">
                        <i class="fa fa-user"></i>
                    </button>
                    <button id="toggleReview"
                            class="button btn btn-sm"
                            ng-click="toggleReviewColumns()"
                            ng-class="{'btn-info':reviewColumnsVisible,'btn-default':!reviewColumnsVisible}"
                            title="Toggle review columns">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button id="showCol"
                            class="button btn btn-sm"
                            ng-click="showAllColumns()"
                            ng-class="{'btn-success':columnsAreFiltered(),'btn-default':!columnsAreFiltered()}"
                            ng-disabled="!columnsAreFiltered()"
                            title="Show all columns">
                        <i class="fa fa-table"></i>
                    </button>
                    <button id="reset"
                            class="button btn btn-danger btn-sm"
                            ng-click="reset()"
                            title="Reset data">
                        <i class="fa fa-step-backward"></i>
                    </button>
                </div>
                <div context-menu menu-list="contextMenu"
                     click-menu="clickItem(item)" >
                    <div ui-grid="gridOptions"
                         class="grid"
                         ui-grid-infinite-scroll
                         ui-grid-edit
                         ui-grid-row-edit
                         ui-grid-cellnav
                         ui-grid-resize-columns
                         ui-grid-selection                            >
                    </div>
                </div>
                <span>First page: {{ firstPage }} &nbsp; &nbsp; Last page: {{ lastPage }}  &nbsp; &nbsp; data.length:
                    {{ data.length }}  &nbsp; &nbsp; total.length: {{ numberOfItems}}</span>
            </div>
        </div>

        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-touch/angular-touch.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-ui-grid/ui-grid.js"></script>
        <script src="src/app.js"></script>
        <script src="src/contextMenu.js"></script>
    </body>

</html>
